# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) 2021 Alec Delaney
#
# SPDX-License-Identifier: MIT

sphinx~=8.1
sphinxcontrib-jquery~=4.1
sphinx-rtd-theme~=3.0
